* {
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 15, 27);
}

.button {
    padding: 5px;
    margin: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1200px;
}

.list {

}

#menu {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 625px;
    border:solid rgb(188, 198, 192) 1px;
    /* display: flex; */
}

#map {
    border:solid rgb(188, 198, 192) 1px;
    height: 625px;
    width: 75%;
}
